/* Add/modify styles as needed */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#equationInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.key {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.operator {
  background-color: #f2f2f2;
}

.evaluate {
  background-color: #28a745;
  color: #fff;
}

.clear {
  background-color: #dc3545;
  color: #fff;
}

.result {
  margin-top: 20px;
  font-size: 24px;
}

/* ... (your existing styles) */

.github-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom:10px;

}

.github-button:hover {
  background-color: #555;
}

